*{
    margin: 0;
    padding: 0;
}

.noLink{
    color: cornflowerblue;
    text-decoration: none;
}

.textCentered{
    text-align: center;
}

p {
    margin-top: 5%;
}

.roundButton{
    line-height: 70px;
    background-color: white;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 70px;
    border-radius: 3%;
}

.textTopCentered{
    margin-top: 50px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 80px;
}