.noLink{
    color: black;
    text-decoration: none;
}

.textCentered{
    text-align: center;
}

.roundButton{
    line-height: 100px;
    background-color: rgb(58, 252, 58);
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.textTopCentered{
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.comboBoxOption {
    padding: 5px;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonSim {
    background: rgb(230, 230, 230);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    border-color: cornflowerblue;
    border-style: solid;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.buttonNao {
    background: rgb(230, 230, 230);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    border-color: rgb(255, 83, 83);
    border-style: solid;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.lastRow {
    bottom: 90px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.ocurrencyContainer {
    margin-top: 20px;
}

.combobox {
    width: 60%;
}